In [13]:
import pandas as pd

In [19]:
df1 = pd.read_csv("covid19_cases.csv")
print(df)

    country_ch        country_en       cases   deaths
0           美國     United States  34,516,883  622,158
1           印度             India  31,371,901  420,551
2           巴西            Brazil  19,688,663  549,924
3          俄羅斯            Russia   6,126,541  153,874
4           法國            France   5,993,937  111,644
..         ...               ...         ...      ...
190        萬那杜           Vanuatu           4        1
191      馬紹爾群島  Marshall Islands           4        0
192         帛琉             Palau           2        0
193        薩摩亞             Samoa           1        0
194   密克羅尼西亞聯邦        Micronesia           1        0

[195 rows x 4 columns]

In [15]:
df2 = pd.read_json("covid19_cases.json")
print(df2)

        country_ch                country_en        cases     deaths
0               美國             United States  102,717,337  1,143,992
1               印度                     India   44,689,072    530,776
2               法國                    France   39,661,650    165,135
3               德國                   Germany   38,241,231    168,808
4               巴西                    Brazil   37,085,520    699,310
..             ...                       ...          ...        ...
197            吐瓦魯                    Tuvalu        2,779          0
198             紐埃                      Niue          747          0
199  國際運輸工具(鑽石公主號)  Int'l conveyance (Japan)          741         13
200             教廷                  Holy See           29          0
201             北韓               North Korea            2          1

[202 rows x 4 columns]

In [21]:
url = 'https://www.tiobe.com/tiobe-index/'
tables = pd.read_html(url, keep_default_na=False)
tables[0].head(20)

,Jul 2023,Jul 2022,Change,Programming Language,Programming Language.1,Ratings,Change.1
0,1,1,,,Python,13.42%,-0.01%
1,2,2,,,C,11.56%,-1.57%
2,3,4,,,C++,10.80%,+0.79%
3,4,3,,,Java,10.50%,-1.09%
4,5,5,,,C#,6.87%,+1.21%
5,6,7,,,JavaScript,3.11%,+1.34%
6,7,6,,,Visual Basic,2.90%,-2.07%
7,8,9,,,SQL,1.48%,-0.16%
8,9,11,,,PHP,1.41%,+0.21%
9,10,20,,,MATLAB,1.26%,+0.53%
10,11,18,,,Fortran,1.25%,+0.49%
11,12,21,,,Scratch,1.07%,+0.35%
12,13,12,,,Go,1.07%,-0.07%
13,14,8,,,Assembly language,1.01%,-0.64%
14,15,14,,,Delphi/Object Pascal,0.98%,-0.08%
15,16,15,,,Ruby,0.91%,-0.08%
16,17,29,,,Rust,0.89%,+0.47%
17,18,10,,,Swift,0.88%,-0.39%
18,19,19,,,R,0.87%,+0.11%
19,20,26,,,COBOL,0.86%,+0.33%

In [22]:
student_url = "https://info.tku.edu.tw/basicdata1.aspx"

In [24]:
student_table = pd.read_html(student_url, keep_default_na=False)

In [25]:
print(student_table)

[                                 é ç®/å­¸å¹´åº¦    109    110    111
0                                å¤§å­¸æ¥éé¨  20239  20763  19799
1  å¤§å­¸é²ä¿®å­¸å£«ç­åäºå¹´å¶å¨è·å°ç­   1249   1146   1002
2     ç¢©å£«ç­ãç¢©å£«å¨è·å°ç­ååå£«ç­   2721   2625   2527
3                    å­¸çäººæ¸åè¨ï¼äººï¼  24209  24534  23328]

In [27]:
import requests

In [31]:
result = requests.get("https://info.tku.edu.tw/basicdata1.aspx")

In [33]:
print(result)

<Response [200]>